numpy
pandas
matplotlib
scikit-learn
torch
pytorch-lightning
transformers
sentencepiece
sacremoses
google-generativeai
google-genai
python-dotenv
notebook
ipykernel
fastapi
uvicorn[standard]
pydantic
requests
apscheduler
feedparser
